/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px red solid; */
}

.container{
    width: 970px;
    height: 500px;
    display: inline-block;
}

.content{
    width: 970px;
    height: 500px;
    display: inline-block;
}

.content img{
    width: 200px;
    height: 400px;
}

.picture1{
    margin: 40px 0px 0px 25px;
    width: 200px;
    height: 400px;
    border: 1px solid black;
    display: inline-block;
    background-image: url("img/flower1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    
}

.picture2{
    margin: 25px 0px 0px 25px;
    width: 200px;
    height: 400px;
    border: 1px solid black;
    display: inline-block;
    background-image: url("img/flower2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.picture3{
    margin: 25px 0px 0px 25px;
    width: 200px;
    height: 400px;
    border: 1px solid black;
    display: inline-block;
    background-image: url("img/flower3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.picture4{
    margin: 25px 0px 0px 25px;
    width: 200px;
    height: 400px;
    border: 1px solid black;
    display: inline-block;
    background-image: url("img/flower4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

